
header{
   background-color: rgb(105, 105, 105);
   color: white;

}

header > h1{
    text-align: center;
    line-height: 2.0;
    font-size: 3rem;
    margin-bottom: 1px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.123);
}

main{
    background-color: rgb(116, 126, 158);
}

h2{
    background-image: linear-gradient(to right, #8800ff6b, #8800ff00);
}

img{
    
    background-repeat: no-repeat;
    background-position: left top;
}

footer{
    background-color: rgba(4, 40, 148, 0.486);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0.8em;
    padding: 1px;

}